.container {
  width: 100%;
  height: 100%;
  float: left;
  padding: 20px;
  margin: auto;
}

.loadingContainer {
  display: table;
  margin: 0 auto;
}

.containerForm {
  width: 600px;
  height: 100%;
  margin: 0 auto;
  padding: 25px;
  background-color: white;
  border-radius: 5px;
}

.contentForm {
  display: table-cell;
}

.headerForm {
  width: 100%;
  height: 50px;
}