.container {
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px;
  float: left;
}

.loadingContainer {
  display: table;
  margin: 0 auto;
}


.sweet-loading {
  width: 100%;
  height: 100%;
}