nav {
	width: 100%;
	float: left;
  background: #202A37;
  font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
  background-color: #202A37;
}

nav ul {
	width: 100%;
	position: relative;
	float: left;
}

nav ul li {
	position: relative;
  float: left;
	background-color: #202A37;
}

nav ul li a {
	display: block;
	padding: 22px 14px;
	text-decoration: none;
}

nav ul li ul {
	display: none;
  position: absolute;
  background-color: #202A37;
}

nav ul li:hover ul {
	display: block;
}

nav ul li ul li {
	width: 180px;
}

nav ul li ul li a {
	padding: 	8px 14px;
}

nav ul li ul li a:hover {
	background-color: #2D959F;
}