html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

html, body {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera */
	background: #171E27;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-size: cover;
	line-height: 1;
	overflow-y: scroll;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p {
	font-size: 16px;
	color: #171E27;
	padding-bottom: 10px;
}
a {
	text-decoration: none;
	color: white;
}
input[type=text] {
	width: 100%;
	height: 40px;
	margin-bottom: 15px;
	padding:8px; 
	border:2px solid #ccc; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
select {
	width: 100%;
	height: 40px;
	margin-bottom: 15px;
	padding:8px; 
	border:2px solid #ccc; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
input[type=submit] {
	display: block;
	width: 90%;
	height: 40px;
	color: white;
	margin: 0 auto;
	padding:5px 15px; 
	margin-top: 10px;
	background:#ccc; 
	border:0 none;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px; 
	background-color: #171E27;
}
input[type=submit]:hover {
	background-color: #33B6C0;
}
textarea {
	width: 100%;
	height: 80px;
	margin-bottom: 15px;
	padding:8px; 	
	border:2px solid #ccc; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
header {
	display: block;
  width: 100%;
  position: relative;
  float: left;
}
